<div class="main-container about-container">
  <div class="menu-bar about-menu-bar">
    <ul>
      <li class="navigation" ui-sref="home">HOME</li>
      <div class="menu-bar-separator">|</div>
      <li class="navigation" ui-sref="traditional">TRADITIONAL</li>
      <div class="menu-bar-separator">|</div>
      <li class="navigation" ui-sref="dimensional">DIMENSIONAL</li>
      <div class="menu-bar-separator">|</div>
      <li class="navigation">BLOG</li>
      <div class="menu-bar-separator">|</div>
      <li class="navigation" ui-sref="store">STORE</li>
      <div class="menu-bar-separator">|</div>
      <li class="navigation" ui-sref="contact">CONTACT</li>
    </ul>
  </div>
  <div class="about-block">
    <div class="about-text-container">
      Jameson Gardner is a free-lance illustrator from Utah. He grew up with the mountains, forests and deserts of Utah, Colorado and New Mexico, where he learned to love beautiful things. Nothing excites Jameson more than drawing, painting or building something. With a BFA from Brigham Young University, Jameson creates both traditional and dimensional science fiction, fantasy, fairytale and historical illustrations. He also accepts private commissions for landscapes, portraits and more.
    </div>
    <div class="about-image-container">
      <div class="about-image">
        <img src="../images/james.jpg" alt="james" />
      </div>

    </div>
  </div>

</div>
