<div class="main-container home-main-container">
  <div class="home-page-container">
    <div class="home-page-image-container">
      <div class="home-page-image-background">
        <div class="home-page-image">

        </div>
      </div>
    </div>
    <div class="menu-items-desk">
      <ul>
        <li ui-sref="traditional">TRADITIONAL</li>
        <li ui-sref="dimensional">DIMENSIONAL</li>
        <li>STORE</li>
        <li>BLOG</li>
        <li ui-sref="about">ABOUT</li>
        <li ui-sref="contact">CONTACT</li>
      </ul>
    </div>
  </div>
</div>
