<div class="main-container home-main-container">
  <div class="home-page-container">
    <div class="home-page-image-container">
      <div class="home-page-image-background">
        <div class="primary-logo home-page-logo">

        </div>
        <div class="home-page-image" ng-class="{dimensional: dimensionalHover
          , traditional: traditionalHover
          , store: storeHover
          , blog: blogHover
          , about: aboutHover
          , contact: contactHover}">

        </div>
      </div>
    </div>
    <div class="menu-items-desk">
      <ul>
        <li class="fadein fadeout navigation" ui-sref="traditional" ng-hide="traditionalVisibility" ng-mouseenter="traditionalHover = true" ng-mouseleave="traditionalHover = false">TRADITIONAL</li>
        <li ng-show="traditionalVisibility"></li>

        <li class="fadein fadeout navigation" ui-sref="dimensional" ng-hide="dimensionalVisibility" ng-mouseenter="dimensionalHover = true" ng-mouseleave="dimensionalHover = false">DIMENSIONAL</li>
        <li ng-show="dimensionalVisibility"></li>

        <li class="fadein fadeout navigation" ng-hide="storeVisibility" ng-mouseenter="storeHover = true" ng-mouseleave="storeHover = false"><a href="https://www.etsy.com/shop/GardnerArtandStuff?ref=listing-shop2-all-items-count#items" target="_blank">STORE</a></li>
        <li ng-show="storeVisibility"></li>

        <li class="fadein fadeout navigation" ng-hide="blogVisibility" ng-mouseenter="blogHover = true" ng-mouseleave="blogHover = false"><a href="https://jamesgardnerart.wordpress.com/" target="_blank">BLOG</a></li>
        <li ng-show="blogVisibility"></li>

        <li class="fadein fadeout navigation" ui-sref="about" ng-hide="aboutVisibility" ng-mouseenter="aboutHover = true" ng-mouseleave="aboutHover = false">ABOUT</li>
        <li ng-show="aboutVisibility"></li>

        <li class="fadein fadeout navigation" ui-sref="contact" ng-hide="contactVisibility" ng-mouseenter="contactHover = true" ng-mouseleave="contactHover = false">CONTACT</li>
        <li ng-show="contactVisibility"></li>
      </ul>
    </div>
  </div>
</div>
