.home-page-image-background {
  height: 300px;
  width: 300px;
  background-color: rgba(255,255,255,0.34);
  border-radius: 50%;
  margin: auto;
  /*Flex*/
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home-page-image {
  height: 275px;
  width: 275px;
  background: url("../images/HomePageprev.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.traditional{
  background: url("../images/HomePageprevTraditional.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.dimensional{
  background: url("../images/HomePageprevDimensional.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.store{
  background: url("../images/HomePageprevStore.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.blog{
  background: url("../images/HomePageprevBlog.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.about{
  background: url("../images/HomePageprevAbout.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}
.contact{
  background: url("../images/HomePageprevContact.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}


.menu-items-desk{
  display: none;
}



@media (min-width: 768px) {
  .home-main-container{
    /*Flex*/
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
  }
  .home-page-container{
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .home-page-image-container {
    margin-right: 25px;
  }
  .home-page-image-background {
    height: 400px;
    width: 400px;
  }
  .home-page-image {
    height: 375px;
    width: 375px;
  }
  .menu-items-desk{
    display: block;
    padding-top: 80px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2.5px;
    font-size: 25px;
  }
  .menu-items-desk ul {
    width: 162px;
    height: 375px;
  }
  .menu-items-desk li {
    height: 35px;
    padding-bottom: 10px;
  }

  .menu-items-desk li:hover {
    position: relative;
    top: 1px;
    right: 1px;
  }
  .menu-items-desk li:nth-child(3){
    padding-left: 10px;
  }
  .menu-items-desk li:nth-child(5){
    padding-left: 18px;
  }
  .menu-items-desk li:nth-child(7){
    padding-left: 22px;
  }
  .menu-items-desk li:nth-child(9){
    padding-left: 19px;
  }
  .menu-items-desk li:nth-child(11){
    padding-left: 13px;
  }
}

.menu-items-desk li a {
  text-decoration: none;
  color: inherit;
}


.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
    -webkit-transition: 800ms ease-in-out all;
    -moz-transition: 800ms ease-in-out all;
    -o-transition: 800ms ease-in-out all;
    transition: 800ms ease-in-out all;
    display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}
