/* .primary-logo overriding .primary-logo on main-page */
.art-container {
  overflow: auto;
}

.grid {
  width: 100%;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-sizer,
.grid-item {
  width: 100%;
}

.grid-item {
  float:left;
  margin-bottom: 5px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

@media (min-width: 768px) {
  .art-container {
    overflow-y: auto;
    overflow-x: hidden;
  }

  .grid {
    width: 770px;
    margin: auto;
  }

  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  .grid-sizer,
  .grid-item {
    width: 30%;
  }

  .grid-item {
    float:left;
    margin-bottom: 5px;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
  }

}
