.slideshow-container {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slideshow-image-container {
  width: 770px;
  height: 75vh;
  position: relative;
}

.slideshow-image {
  width: 770px;
  height: 75vh;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.slideshow-image-title {
  padding: 5px;
  position: absolute;
  background: rgba(0,0,0,.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

.slideshow-image-description {
  padding: 5px;
  position: absolute;
  background: rgba(0,0,0,.7);
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: white;
}

.nav-container {
  width: 50px;
  height: 75vh;
  top: 0px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}

.nav-container-left {
  left: 0;
}
.nav-container-right {
  right: 0;
}

.nav-button {
  height: 50px;
  width: 50px;
  position: relative;
  background: black;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 12.5px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nav-left:hover {
  right: 2px;
}

.nav-right:hover {
  left: 2px;
}
