.slideshow-container {
  padding-top: 0;
}
.slideshow-image-container {
  width: 770px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slideshow-image {
  max-width: 770px;
}

.slideshow-image img{
  display: block;
  width: 100%;
}

.slideshow-image-title {
  height: 20px;
  background: rgba(0,0,0,.7);
  font-family: 'Pragati Narrow', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color: white;
}

.slideshow-image-description {
  display: block;
  padding: 5px;
  background: rgba(0,0,0,.8);
  font-family: 'Raleway', sans-serif;
  color: white;
}

.nav-container {
  width: 50px;
  height: calc(88.5vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.nav-button {
  height: 50px;
  width: 50px;
  position: relative;
  background: black;
  border-radius: 50%;
  color: white;
  font-size: 25px;
  text-align: center;
  padding-top: 12.5px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.nav-left:hover {
  right: 2px;
}

.nav-right:hover {
  left: 2px;
}
